{% extends 'base.html.twig' %}

{% block body %}
    <div class="portlet light ">
        <!-- PROJECT HEAD -->
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-bar-chart font-green-sharp hide"></i>
                <span class="caption-helper">My Tasks:</span> &nbsp;
                <span class="caption-subject font-green-sharp bold uppercase">My Tasks</span>
            </div>
        </div>
        <!-- end PROJECT HEAD -->
        <div class="portlet-body">
            <div class="row">
                <div class="col-md-5 col-sm-4">
                    <div class="todo-tasklist">

                        {% for task in tasks %}

                            <div class="todo-tasklist-item todo-tasklist-item-border-green">
                                <img class="todo-userpic pull-left" src="{{ asset('img/avatar.png') }}" width="27px" height="27px">
                                <div class="todo-tasklist-item-title"> {{ task.name }} </div>
                                <div class="todo-tasklist-item-text"> {{ task.description }} </div>
                                <div class="todo-tasklist-controls pull-left">
                                    <span class="todo-tasklist-date">
                                        <i class="fa fa-calendar"></i> {% if task.dueDate %}{{ task.dueDate|date('Y-m-d') }}{% endif %} </span>
                                    <span class="todo-tasklist-badge badge badge-roundless">Urgent</span>
                                </div>
                            </div>

                        {% endfor %}
                    </div>
                </div>
                <div class="todo-tasklist-devider"> </div>
                <div class="col-md-7 col-sm-8">
                    {{ form_start(form,  {'attr': {'novalidate': 'novalidate','class':'form-horizontal'}}) }}
                    <!-- TASK HEAD -->
                    <div class="form">
                        <div class="form-group">
                            <div class="col-md-8 col-sm-8">
                                <div class="todo-taskbody-user">
                                    <img class="todo-userpic pull-left" src="{{ asset('img/avatar.png') }}" width="50px" height="50px">
                                    <span class="todo-username pull-left">
                                        {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                                            {{ app.user.username }} 
                                        {% endif %}
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="todo-taskbody-date pull-right">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                {{ form_widget(form.project, {'attr': {'class': 'form-control todo-taskbody-tasktitle', 'placeholder':'Project Title...'}}) }}
                            </div>
                        </div>           
                        <!-- TASK TITLE -->
                        <div class="form-group">
                            <div class="col-md-12">
                                {{ form_widget(form.name, {'attr': {'class': 'form-control todo-taskbody-tasktitle', 'placeholder':'Task Title...'}}) }}
                            </div>
                        </div>
                        <!-- TASK DESC -->
                        <div class="form-group">
                            <div class="col-md-12">
                                {{ form_widget(form.description, {'attr': {'class': 'form-control todo-taskbody-taskdesc', 'placeholder':'Task Description...', 'rows':'8'}}) }}
                            </div>
                        </div>
                        <!-- END TASK DESC -->
                        <!-- TASK DUE DATE -->
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="input-icon">
                                    <i class="fa fa-calendar"></i>
                                    {{ form_widget(form.dueDate, {'attr': {'class': 'form-control todo-taskbody-due', 'placeholder':'Due Date...'}}) }}
                                </div>
                            </div>
                        </div>
                        <!-- TASK TAGS -->
                        <div class="form-group">
                            <div class="col-md-12">
                                {{ form_widget(form.status, {'attr': {'class': 'form-control todo-taskbody-tags'}}) }}
                            </div>
                        </div>
                        <!-- TASK TAGS -->
                        <div class="form-actions right todo-form-actions">
                            {{ form_widget(form.submit, { 'attr': {'class': 'btn btn-circle btn-sm green', 'label': 'Save Changes'} }) }}
                            <a href="{{ path('project_index') }}" class="btn btn-circle btn-sm btn-default">Cancel</a>
                        </div>
                    </div>
                    {{form_end(form)}}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
