{% extends 'base.html.twig' %}

{% block body %}

    <div class="portlet light ">
        <div class="portlet-title">
            <div class="caption font-dark">
                <i class="icon-settings font-dark"></i>
                <span class="caption-subject bold uppercase">Tasks</span>
            </div>
            <div class="actions">
                <div class="btn-group">
                    <a href="{{ path('task_new') }}" id="sample_editable_1_new" class="btn sbold green"> Add New
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="portlet-body">
            <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="sample_1">
                <thead>
                    <tr>
                        <th class="all">Name</th>
                        <th class="all">Project</th>
                        <th class="min-phone-l">Due Date</th>
                        <th class="min-tablet">Status</th>
                        <th class="none">Description</th>
                        <th class="none">Created</th>
                        <th class="none">Updated</th>
                        <th class="all">Edit</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                        <tr>
                            <td>{{ task.name }}</td>
                            <td>{{ task.project.name }}</td>
                            <td>{% if task.dueDate %}{{ task.dueDate|date('Y-m-d') }}{% endif %}</td>
                            <td>{{ task.status }}</td>
                            <td>{{ task.description }}</td>
                            <td>{% if task.createdAt %}{{ task.createdAt|date('Y-m-d') }}{% endif %}</td>
                            <td>{% if task.updatedAt %}{{ task.updatedAt|date('Y-m-d') }}{% endif %}</td>
                            <td><a href="{{ path('task_edit', { 'id': task.id }) }}">edit</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
